*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
body{
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}
:root{
    --primary:#3dcfd3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --mast:#6664f1;
    --op:#8577d4;
    --glow:#93a5cf
}
header{
    background-image: linear-gradient(45deg, #93a5cf 0%, #757977 100%);
    width: 100vw;
    height: 50px;
}
#check{
    display: none;
}
#check1{
    display: none;
}
.ham-burger{
    color: white;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    left: 10px;
    padding: 0;
    margin-top: -8px;
}
.ham-burger:hover{
    color:#161616;
}
.ham-burger:active{
    color: #c7ccca;
}
@media (max-width:480px){
    .ham-burger{
        color: white;
        font-size: 40px;
        font-weight: 700;
        position: absolute;
        left: 10px;
        padding: 0;
        display: block;
    }
    .ham-burger:hover{
        color:#161616;
    }
    .ham-burger:active{
        color: #c7ccca;
    }
    .left-div{
        position: absolute;
        margin-top: 15px;
        margin-left: 20px;
        display: none;
    }
    #social_container{
        display: none;
    }
    .social_item{
        font-size: 25px;
        position: relative;
        margin-top: 10px;
        height: 30px;
        width: 50px;
        display: none;
    }
}
@media (min-width:481px) and (max-width:719px){
    .left-div{
        position: absolute;
        margin-top: 15px;
        margin-left: 30px;
        font-size: 15px;
        word-spacing: 5px;
    }
    #social_container{
        position: absolute;
        margin-left: 400px;
        width: 140px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .social_item{
        font-size: 15px;
        margin-top: 15px;
        height: 30px;
        width: 30px;
    }
    .social_item:nth-child(2){
        margin-right: -7px;
    }
}
@media (min-width:720px)and (max-width:1023px){
    .left-div{
        position: absolute;
        margin-top: 15px;
        margin-left: 30px;
        font-size: 17px;
        word-spacing: 5px;
    }
    #social_container{
        position: absolute;
        margin-left: 570px;
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .social_item{
        font-size: 25px;
        margin-top: 10px;
        height: 30px;
        width: 50px;
    }
    .social_item:nth-child(2){
        margin-right: -7px;
    }
}
@media (min-width:1024px){
    .left-div{
        position: absolute;
        margin-top: 15px;
        margin-left: 30px;
        font-size: 19px;
        word-spacing: 8px;
    }
    #social_container{
        position: absolute;
        margin-left: 1000px;
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .social_item{
        font-size: 25px;
        margin-top: 8px;
        height: 30px;
        width: 50px;
    }
    .social_item:nth-child(2){
        margin-right: -7px;
    }
}
#twitter,#facebook,#instagram,#github,#youtube{
    color: #c8cecb;
}
#facebook:hover{
    color:#404040;
    transform: scale(1.2);
}
#instagram:hover{
    color:#404040;
    transform: scale(1.2);
}
#github:hover{
    color:#404040;
    transform: scale(1.2);
}
#twitter:hover{
    color:#404040;
    transform: scale(1.2);
}
#youtube:hover{
    color:#404040;
    transform: scale(1.2);
}
nav{
    display: flex;
    justify-content: space-between;
    word-spacing: 15px;
    height: 50px;
}
.left-div{
    position: absolute;
    margin-top: 13px;
    margin-left: 60px;
}
.left-div>a{
    color:#404040;
    text-decoration: none;
}
.left-div>a:hover{
    color: black;
    text-decoration: underline;
}
.right-div{
    margin-top: 14px;
    margin-right: 20px;
}
#acc{
    color: rgb(218, 218, 218);
}
#acc:hover{
    color: black;
    cursor: pointer;
}
#acc:active{
    color: #c7ccca;
}
.slider_menu{
    position: absolute;
    left: -235px;
    background-color: #999999;
    width: 232px;
    height: 100vh;
    border-radius: 5px;
    border-right: 2px solid rgb(133, 131, 131);
    z-index: 5;
}
.x-mark{
    height: 25px;
    width: 25px;
    margin-top: -75px;
    margin-left: 210px;
    opacity: 5;
}
#x-mark:hover{
    cursor: pointer;
}
.slider_heading{
    width: 230px;
    height: 60px;
    word-spacing: 2px;

}
.slider_heading>h2{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-top: 18px;
    padding-left: 23px;
}
.hr1{
    margin-left: 10px;
    margin-right: 10px;
    border-color: 4px solid #000000;
}
/* .slider_heading{
    border: 4px solid rgb(92, 89, 89);
    border-radius: 5px;
} */
/* .slider_heading:hover{
    box-shadow: 0px 0px 0px 2px rgb(99, 99, 99);
} */
.slider_menu_content{
    width: 226px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: #757977;
    border: 2px solid rgb(168, 163, 163);
}
.slider_menu_content_home{
    width: 226px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background-color: #757977;
    border: 2px solid rgb(168, 163, 163);
    margin-top: 20px;
    border-radius: 5px;
}
.slider_menu_content_home>a{
    color: #c9c9c9;
}
.slider_menu_content_home>a:hover{
    color: #F2F2F2;
}
.slider_menu_content_home:hover{
    box-shadow: 2px 0px 2px 2px rgb(170, 170, 170);
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 2px;
}
.slider_menu_content>a{
    color: #c9c9c9;
}
.slider_menu_content>a:hover{
    color: #F2F2F2;
}
.slider_menu_content:hover{
    box-shadow: 2px 0px 2px 2px rgb(170, 170, 170);
    border-radius: 5px;
    font-size: 22px;
    letter-spacing: 2px;
}
.slider_menu_content_contact{
    margin-top: 50px;
    width: 226px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    border-top: 2px solid rgb(90, 89, 89);
    letter-spacing: 5px;
}
.material-symbols-outlined{
    font-size: 20px;
}
.Contact1{
    display: flex;
    justify-content: space-evenly;
}
#abc{
    color: #000000;
}
#abc:hover{
    color: #f4f6f8;
    font-size: 20px;
    transform: scale(1.5);
}
#abc{
    font-size: 20px;
    margin-top: 5px;
    height: 30px;
    width: 30px;
}
#check:checked ~ .slider_menu{
    position: fixed;
    left: 0px;
    background-color: #999999;
    width: 232px;
    height: 100vh;
    border-radius: 5px;
    border-right: 2px solid rgb(133, 131, 131);
    transition: all 0.3s 0s linear;
}
#check:checked ~ .slider_heading{
    position: absolute;
    left: -235px;
    background-color: #999999;
    width: 232px;
    height: 100vh;
    border-radius: 5px;
    border-right: 2px solid rgb(133, 131, 131);
    transition: all 0.5s 0s;
}
                                   /*        >>Section1<<       */
.main{
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.Profile_photo{
    width: 365px;
    height: 365px;
    border-radius: 50%;
    border: 8px double rgb(0, 0, 0);
    position: absolute;
    margin-left: 850px;
    margin-top: -280px;
}
.img>img{
    width: 345px;
    height: 345px;
    border-radius: 50%;
    transform: translateX(2.2px) translateY(2.4px);
    background-size: cover;
}
.intro{
    height: 500px;
    width: 300px;
    display: inline;
}
.intro_heading{
    /* background-color: blueviolet; */
    display: inline;
    position: absolute;
    margin-top: 80px;
    margin-left: 160px;
    font-size: 50px;
    font-weight: 600;
    color: #b1c3ec;
}
.intro_heading1{
    display: inline;
    position: absolute;
    margin-top: 145px;
    margin-left: 160px;
    font-size: 50px;
    font-weight: 500;
    color: #aea3eb;
}
.intro_heading2{
    display: inline;
    position: absolute;
    margin-top: 210px;
    margin-left: 160px;
    font-size: 30px;
    color: #424040;
}
.myname{
    color: #1b1b1b;
}
.auto-type{
    color: #b1c3ec;
}
#hire_btn{
    color: #c8e9e2;
    margin-top: 300px;
    margin-left: 160px;
    font-weight: 600;
    font-family: arial;
}
#hire_btn:hover{
    color: #000000;
}
#getcv_btn{
    color: #c8e9e2;
    margin-top: 300px;
    margin-left: 20px;
    font-weight: 600;
    font-family: arial;
}
.section_devider{
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
#slide1,#slide2,#slide3{
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.s1, .s2, .s3{
    position: absolute;
    margin-top: 250px;
    margin-left: 40vw;
    display: inline;
}