*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}
header{
    padding-left: 5rem;
    position: relative;
    z-index: 100;
}
.nav{
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.nav a:hover{
    text-decoration: underline;
}
.container{
    width: 100vh;
    height: 100vh;
}
.Bgimage{
    background-repeat: no-repeat;
    background-size: cover;
}
