*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(209, 160, 255);
    background-color: black;
}
.Container{
    height: 450px;
    width: 320px;
    background-color: #ffe0e5;
    border-radius: 2px;
    margin: 80px auto;
    padding: 20px;
}
.options{
    height: 35px;
    width: 260px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.button1{
    padding-left: 7px;
}
.button:hover{
    cursor: pointer;
}
.button span{
    font-size: 18px;
    font-weight: 700;
    color: #f53192;
}
.song-thm{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px auto;
    outline: 5px solid rgb(190, 127, 253);
    text-align: center;
    align-items: center;
}
.song-thm img{
    background-size: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.songName{
    width: max-content;
    margin-top: 15px;
    font-weight: 600;
}
.artist-name{
    margin-top: 5px;
    font-size: 13px;
    width: max-content;
}
#progress{
    -webkit-appearance: none;
    width: 150%;
    height: 5px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px 0 0 -35px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls-icon{
    padding-left: 15px;
    padding-right: 15px;
    width: 40px;
    height: 40px;
    margin: 20px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(255, 26, 26, 0.22);
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}


